name: RSS to SQLite

on:
  schedule:
    - cron: '0 * * * *'  # Run every hour
  workflow_dispatch: {}
  push:
    paths:
      - .github/workflows/rss_to_sqlite.yml

jobs:
  rss_to_sqlite:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install feedparser
          pip install sqlite-utils
          pip install datasette
          import sqlite_utils
          pip install feed_to_sqlite
          pip install datasette-publish-vercel

      - name: Pull RSS feed and upsert to SQLite
        run: |
          python rss_to_sqlite.py
          
      - name: Commit and push if it changed
        run: |-
          git config user.name "Automated"
          git config user.email "actions@users.noreply.github.com"
          git add -A
          timestamp=$(date -u)
          git add *
          git commit -m "Latest data: ${timestamp}" || exit 0
          git push
      
      - name: Deploy Datasette using Vercel
        env:
          NOW_TOKEN: ${{ secrets.NOW_TOKEN }}
        run: |-
          datasette publish vercel data.db --install=datasette-vega \
            --token $NOW_TOKEN \
            --project tower-hamlets-feeds
